@import "enter-throw-social";

.main-header{
	position: static;
}

.registration{
	background-color: $bg-second-color;
	&-wrapper{
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding: 0 33px;
		height: 100%;
		align-items: center;
		.registration-header{
			width: 100%;
			font-family: $mainfont;
			margin: 100px 0;
			text-align: center;
			&:after{
				content: '';
				display: block;
				position: relative;
				top: 50px;
				width: 100%;
				height: 1px;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, .24);
				background-color: $bg-white-color;
			}
		}
	}
}