@import 'mixins';
.login-form {
    width: 500px;
    height: 535px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
    border: 1px solid #eaeae8;
    background-color: $white-text-color;
    padding: 45px 50px 30px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 30;
    transform: translate(-50%, -50%);
    &-email {
        display: flex;
        flex-direction: column;
        margin-bottom: 7px;
        label[for=email] {
            @include text-styles($main-text-color, $mainfont, 21px, 400, 21px);
        }
        input[type=email] {
            width: 100%;
            height: 50px;
            padding-left: 20px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
            border: 1px solid #eaeae8;
            background-color: $white-text-color;
            @include text-styles($gray-text-color, $mainfont, 21px, 400, 21px);
            margin-bottom: 8px;
            outline: none;
            &::placeholder {
                color: $gray-text-color;
            }
            &:focus {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
                border: 1px solid $common-orange-color;
                background-color: $white-text-color;
                color: $main-text-color;
            } // &:invalid {
            //     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
            //     border: 1px solid $common-alert-light-color;
            //     background-color: $common-white-color;
            // }
        }
        span {
            @include text-styles($common-alert-color, $mainfont, 14px, 300, 16px); // visibility: hidden;
        }
    }
    &-password {
        display: flex;
        flex-direction: column;
        margin-bottom: 11px;
        div {
            display: flex;
            justify-content: space-between;
        }
        label[for=password] {
            @include text-styles($main-text-color, $mainfont, 21px, 400, 24px);
        }
        a {
            @include text-styles($main-text-color, $mainfont, 14px, 300, 24px);
            &:hover {
                color: $common-orange-color;
            }
            &:active {
                text-decoration: underline;
            }
        }
        input[type=password] {
            width: 100%;
            height: 50px;
            padding-left: 20px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
            border: 1px solid #eaeae8;
            background-color: $white-text-color;
            @include text-styles($gray-text-color, $mainfont, 21px, 400, 21px);
            margin-bottom: 8px;
            outline: none;
            &::placeholder {
                color: $gray-text-color;
            }
            &:focus {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
                border: 1px solid $common-orange-color;
                background-color: $white-text-color;
                color: $main-text-color;
            }
        }
        span {
            @include text-styles($common-alert-color, $mainfont, 14px, 300, 16px); // visibility: hidden;
        }
    }
    input[type=checkbox] {
        position: relative;
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin: 0;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            left: 0;
            border: 2px solid $main-text-color;
            border-radius: 2px;
        }
        &:checked::after {
            content: "";
            display: block;
            width: 5px;
            height: 17px;
            border: solid $common-orange-color;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: -1px;
            left: 11px;
            z-index: 2;
        }
        &:checked::before {
            border-color: $common-orange-color;
        }
        &:checked+label[for=remember]::before {
            display: block;
        }
        &:focus {
            outline: 0;
        }
        &:hover::before {
            border-color: $common-orange-color;
        }
    }
    label[for=remember] {
        @include text-styles($main-text-color, $mainfont, 14px, 300, 21px);
        padding-left: 12px;
        position: relative;
        top: -2px;
        margin-bottom: 20px;
        display: inline-block;
        &::before {
            content: '';
            width: 10px;
            height: 12px;
            background-color: $white-text-color;
            position: absolute;
            left: -8px;
            top: -3px;
            display: none;
            z-index: 1;
        }
    }
    input[type=submit] {
        display: block;
        margin: 0 auto;
        cursor: pointer;
        width: 172px;
        height: 60px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 2px 2px 0;
        background-color: $common-orange-color;
        @include text-styles($common-gray-lighter-color, $mainfont, 16px, 400, 60px);
        text-transform: uppercase;
        margin-bottom: 7px;
        &:hover {
            background-color: $common-orange-light-color;
            box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
            border-radius: 2px 2px 0;
        }
        &:active {
            background-color: $common-orange-color;
            box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), inset 0 -1px 5px rgba(0, 0, 0, 0.3);
            border-radius: 2px 2px 0;
        }
        &:disabled {
            background-color: $common-disabled-color;
        }
    }
    &-link {
        display: block;
        margin: 0 auto 13px;
        width: 119px;
        @include text-styles($main-text-color, $mainfont, 14px, 300, 21px);
        &:hover {
            color: $common-orange-color;
        }
        &:active {
            text-decoration: underline;
        }
    }
    &-line {
        display: block;
        width: 100%;
        height: 1px;
        margin-bottom: 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
        background-color: $white-text-color;
    }
    &-social-text {
        @include text-styles($main-text-color, $mainfont, 21px, 400, 21px);
        text-align: center;
        margin-bottom: 15px;
    }
    &-social {
        text-align: center;
        p {
            text-align: center;
            @include text-styles($main-text-color, $mainfont, 14px, 300, 21px);
            margin-bottom: 20px;
        }
        div {
            display: flex;
            justify-content: center;
        }
        a {
            margin: 0 6px;
            svg {
                height: 50px;
            }
        }
    }
}

.password-recovery {
    display: none;
    width: 500px;
    height: 276px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
    border: 1px solid #eaeae8;
    background-color: $white-text-color;
    padding: 50px 50px 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 40;
    transform: translate(-50%, -50%);
    &-email {
        display: flex;
        flex-direction: column;
        margin-bottom: 6px;
        label[for=email-recovery] {
            @include text-styles($main-text-color, $mainfont, 21px, 400, 28px);
        }
        input[type=email-recovery] {
            width: 100%;
            height: 50px;
            padding-left: 20px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
            border: 1px solid #eaeae8;
            background-color: $white-text-color;
            @include text-styles($gray-text-color, $mainfont, 21px, 400, 21px);
            margin-bottom: 8px;
            outline: none;
            &::placeholder {
                color: $gray-text-color;
            }
            &:focus {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
                border: 1px solid $common-orange-color;
                background-color: $white-text-color;
                color: $main-text-color;
            } // &:invalid {
            //     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
            //     border: 1px solid $common-alert-light-color;
            //     background-color: $common-white-color;
            // }
        }
        span {
            @include text-styles($common-alert-color, $mainfont, 14px, 300, 16px); // visibility: hidden;
        }
    }
    input[type=submit] {
        display: block;
        margin: 0 auto;
        cursor: pointer;
        width: 172px;
        height: 60px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 2px 2px 0;
        background-color: $common-orange-color;
        @include text-styles($common-gray-lighter-color, $mainfont, 16px, 400, 60px);
        text-transform: uppercase;
        margin-bottom: 7px;
        &:hover {
            background-color: $common-orange-light-color;
            box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
            border-radius: 2px 2px 0;
        }
        &:active {
            background-color: $common-orange-color;
            box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), inset 0 -1px 5px rgba(0, 0, 0, 0.3);
            border-radius: 2px 2px 0;
        }
        &:disabled {
            background-color: $common-disabled-color;
        }
    }
    &-sent {
        @include text-styles($main-text-color, $mainfont, 21px, 400, 28px);
        position: absolute;
        padding: 0 36px;
        width: 100%;
        height: 100%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
        border: 1px solid #eaeae8;
        background-color: $white-text-color;
        top: 0;
        left: 0;
        z-index: 111;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
}

.mask-login-form,
.mask-password-recovery {
    display: none;
    background-color: $bg-second-color;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.mask-login-form {
    z-index: 21;
}

.mask-password-recovery {
    z-index: 30;
}