@import "mixins";

.fundraising{
	min-height: 650px;
	margin-top: 50px;
	font-family: $mainfont;
	&-wrapper{
		@include main-wrapper;
		.headline{
			@include rubric;
		}
	}
	&-container{
		.card-container{
			margin-top: 30px;
			display: flex;
			.card{
				@include card;
				&-wrapper-content{
					padding: 15px 28px 22px;
				}
			}
		}
	}
	.more{
		@include know-more;
	}
}

// Некоторые поправки для предпоследней секции с карточками

.date-container{
	@include date-container;
	margin-top: 0;
	flex-direction: row-reverse;
}


.last-card{
	@include card;
	height: 650px;
	width: 100%;
	box-sizing: content-box;
	.last-card-wrapper-content{
		padding: 19px 28px 30px;
		.last-title{
			font-size: 16px;
			font-weight: 700;
			line-height: 21px;
			text-transform: uppercase;
			margin: 22px 0;
			color: $main-text-color;
		}
		.last-description{
			height: 121px;
			font-size: 16px;
			color: $main-text-color;
			line-height: 21px;
			font-weight: 300;
		}
		.last-more{
			text-align: left;
			font-size: 16px;
			color: $main-text-color;
			line-height: 28px;
			font-weight: 500;
			margin-top: 36px;
		}
	}
}

#more{
	margin-bottom: 50px;
}
