<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="../../../dist/css/styles.css">
</head>

<body>
    <header class="main-header">

        <div class="main-header-wrapper">
            <div class="logo-side">
                <a href="/">
                    <img src="../../../dist/img/img-logo.png" alt="">
                </a>
            </div>

            <div class="navigation-side">
                <ul class="navigation">
                    <li>
                        <a href="/">
                            О нас
                        </a>
                    </li>
                    <li>
                        <a href="/">F.A.Q.</a>

                    </li>
                    <li>
                        <a href="/">Успешные сборы</a>

                    </li>
                    <li>
                        <a href="/">Блог</a>

                    </li>
                    <li>
                        <a href="/"> Начать помогать</a>

                    </li>
                    <li>
                        <a href="/"> Подать заявку</a>

                    </li>
                </ul>

                <div class="button-block">
                    <button class="header-search">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <style type="text/css">
                                .st0 {
                                    fill: #E5E5E5;
                                }
                            </style>
                            <g>
                                <path class="st0" d="M495.6,466.4L373.8,339.6c31.3-37.2,48.5-84.1,48.5-132.9C422.3,92.7,329.5,0,215.6,0S8.8,92.7,8.8,206.7
		s92.7,206.7,206.7,206.7c42.8,0,83.6-12.9,118.4-37.4l122.8,127.7c5.1,5.3,12,8.3,19.4,8.3c7,0,13.6-2.7,18.7-7.5
		C505.6,494.2,506,477.1,495.6,466.4z M215.6,53.9c84.3,0,152.8,68.5,152.8,152.8s-68.5,152.8-152.8,152.8S62.8,291,62.8,206.7
		S131.3,53.9,215.6,53.9z" />
                            </g>
                        </svg>
                    </button>

                    <button class="header-login-popup">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <style type="text/css">
                                .st0 {
                                    fill: #E5E5E5;
                                }
                            </style>
                            <g>
                                <path class="st0" d="M512,256C512,114.8,397.2,0,256,0S0,114.8,0,256c0,74.6,32.1,141.8,83.1,188.6l-0.2,0.2l8.3,7
		c0.5,0.5,1.1,0.8,1.7,1.3c4.4,3.7,9,7.1,13.6,10.5c1.5,1.1,3,2.2,4.6,3.2c5,3.4,10.1,6.7,15.3,9.8c1.1,0.7,2.3,1.3,3.4,2
		c5.7,3.2,11.5,6.3,17.5,9.1c0.4,0.2,0.9,0.4,1.3,0.6c19.4,9,40.2,15.7,61.9,19.6c0.6,0.1,1.1,0.2,1.7,0.3
		c6.7,1.2,13.6,2.1,20.5,2.7c0.8,0.1,1.7,0.1,2.5,0.2c6.9,0.6,13.8,0.9,20.9,0.9c7,0,13.9-0.4,20.7-0.9c0.9-0.1,1.7-0.1,2.6-0.2
		c6.8-0.6,13.6-1.5,20.3-2.7c0.6-0.1,1.2-0.2,1.7-0.3c21.4-3.8,41.8-10.3,61-19.1c0.7-0.3,1.4-0.6,2.1-1c5.7-2.7,11.4-5.6,16.9-8.7
		c1.4-0.8,2.7-1.6,4.1-2.4c5-3,9.9-6,14.7-9.3c1.7-1.2,3.4-2.4,5.1-3.6c4.1-2.9,8.1-6,12-9.2c0.9-0.7,1.8-1.3,2.6-2l8.5-7.1
		l-0.3-0.2C479.6,398.4,512,330.9,512,256z M18.6,256C18.6,125.1,125.1,18.6,256,18.6S493.4,125.1,493.4,256
		c0,70.5-31,133.9-80,177.5c-2.7-1.9-5.5-3.6-8.3-5l-78.8-39.4c-7.1-3.5-11.5-10.6-11.5-18.6V343c1.8-2.3,3.8-4.8,5.7-7.6
		c10.2-14.4,18.4-30.4,24.4-47.7c11.8-5.6,19.4-17.4,19.4-30.6v-33c0-8.1-3-15.9-8.3-22.1v-43.4c0.5-4.8,2.2-32.1-17.5-54.6
		c-17.2-19.6-44.9-29.5-82.5-29.5s-65.4,9.9-82.5,29.5c-19.7,22.5-18,49.8-17.5,54.6V202c-5.3,6.2-8.3,14-8.3,22.1v33
		c0,10.2,4.6,19.8,12.5,26.3c7.5,29.5,23.1,51.9,28.8,59.5v26.9c0,7.6-4.1,14.6-10.8,18.2l-73.6,40.2c-2.3,1.3-4.7,2.8-7,4.4
		C49.1,389,18.6,326,18.6,256z M395.3,448.1c-3.3,2.4-6.6,4.7-9.9,6.8c-1.5,1-3.1,2-4.7,3c-4.4,2.7-8.9,5.3-13.4,7.7
		c-1,0.5-2,1-3,1.6c-10.5,5.4-21.3,10-32.5,13.7c-0.4,0.1-0.8,0.3-1.2,0.4c-5.8,1.9-11.7,3.7-17.7,5.1c0,0,0,0-0.1,0
		c-6,1.5-12.1,2.7-18.3,3.7c-0.2,0-0.3,0.1-0.5,0.1c-5.8,0.9-11.6,1.6-17.5,2.1c-1,0.1-2.1,0.2-3.1,0.2c-5.8,0.4-11.6,0.7-17.4,0.7
		c-5.9,0-11.8-0.3-17.6-0.7c-1-0.1-2-0.1-3-0.2c-5.9-0.5-11.8-1.2-17.6-2.2c-0.3,0-0.5-0.1-0.8-0.1c-12.3-2.1-24.4-5.1-36.2-9
		c-0.4-0.1-0.7-0.3-1.1-0.4c-5.9-2-11.6-4.2-17.3-6.6c0,0-0.1,0-0.1-0.1c-5.4-2.3-10.7-4.9-15.9-7.6c-0.7-0.4-1.4-0.7-2-1.1
		c-4.8-2.5-9.4-5.3-14-8.2c-1.4-0.9-2.7-1.7-4-2.6c-4.2-2.8-8.4-5.6-12.5-8.7c-0.4-0.3-0.8-0.7-1.2-1c0.3-0.2,0.6-0.3,0.9-0.5
		l73.6-40.2c12.7-6.9,20.5-20.2,20.5-34.6l0-33.5l-2.1-2.6c-0.2-0.2-20.3-24.7-27.9-57.9l-0.8-3.7l-3.2-2.1c-4.5-2.9-7.2-7.7-7.2-13
		v-33c0-4.3,1.8-8.4,5.2-11.4l3.1-2.8V158l-0.1-1.2c0-0.2-2.8-22.6,13-40.6c13.5-15.3,36.5-23.1,68.5-23.1c31.9,0,54.9,7.7,68.4,23
		c15.8,17.8,13.2,40.6,13.2,40.8l-0.1,53.1l3.1,2.8c3.3,3,5.2,7.1,5.2,11.4v33c0,6.6-4.5,12.7-11,14.7l-4.6,1.4l-1.5,4.6
		c-5.5,17.1-13.3,32.8-23.2,46.8c-2.4,3.4-4.8,6.5-6.9,8.8l-2.3,2.6v34.4c0,15,8.3,28.5,21.8,35.2l78.8,39.4c0.5,0.3,1,0.5,1.5,0.8
		C397.3,446.6,396.3,447.3,395.3,448.1z" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>


    </header>

    <div class="single-card-breadcrumbs-v1">
        <a href="#">Главная</a>
        <a href="#">Онкология</a>
        <a href="#" class="breadcrumb-active">Эрика Волошинец</a>
    </div>

    <div class="single-card-breadcrumbs-v2">
        <a href="#">Главная</a>
        <a href="#">Онкология</a>
        <a href="#" class="breadcrumb-active">Эрика Волошинец</a>
    </div>

    <div class="single-card-breadcrumbs-v3">
        <a href="#">Главная</a>
        <a href="#">Онкология</a>
        <a href="#" class="breadcrumb-active">Эрика Волошинец</a>
    </div>

    <div class="patient-profile">
        <h2 class="patient-profile-header">Эрика Волошинец</h2>
        <p class="patient-profile-diagnosis">Острое нарушение мозгового кровообращения по ишемическому типу в басейне
            левой
            внутренней сонной артерии</p>
        <div class="patient-profile-inner">
            <div class="patient-profile-description">
                <div>

                    <img src="../../../dist/img/patient-single-card-big.jpg" alt="Patient">

                    <p>Когда ребенок, у которого была сформирована привязанность, неожиданно расстается с близким
                        человеком
                        и остается с незнакомыми людьми, то он обычно проходит через мтри стадии. Прохождение этих
                        стадий -
                        постепенный процесс адаптации к потере близкого человека. Начальная стадия: протест - ребенок
                        плачет, зовет родителей и пресекает попытки отвлечь его; Вторая стадия: уход в себя - ребенок
                        кажется скучающими, безразличными и апатичными, ищет одиночества, бездумно смотрит в
                        пространство,
                        плохо ест и мало играет;</p>

                    <p>Конечная стадия: отчужденность - похоже, что ребенок "воспрял духом" и стал активным, однако его
                        игра порой кажется бессмысленной. Продолжая оставаться в учреждении, зачастую, ребенок мало
                        озабочены переживаниями окружающих и может сам стать поверхностным и эгоцентричным. Поначалу не
                        вызывал особого беспокойства у воспитателей. Позднее его переживания стали столь очевидными,
                        что
                        его уже невозможно было оставлять без внимания. Воспитатели брали его на руки, старались
                        утешить,
                        но они работали посменно и должны были уделять внимание и другим детям.</p>

                    <q>
                        <span>Воспитатели брали его на руки, старались утешить, но они работали посменно и должны были
                            уделять
                            внимание и другим детям.</span>
                    </q>

                    <h2>Заключение врачей</h2>

                    <p>Дежурная медсестра пыталась найти физическую причину такого поведения и регулярно измеряла ему
                        температуру. Взрослые, очевидно, не понимали, что причиной того, что маленький ребенок плачет,
                        отказывается от еды и плохо спит, вероятнее всего, служит его эмоциональное, а не физическое
                        расстройство. Возраст четверых из пяти детей, показанных в фильме - от года и трех месяцев до
                        двух
                        лет. Они находились в доме ребенка с первых недель после рождения и были напористы и
                        требовательны.</p>

                    <p>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье. Находясь в группе, дети
                        заботились о себе сами. У них не было привязанности к отдельным воспитателям. Казалось, они не
                        получают удовольствия от взаимоотношений, не расстраиваются, когда воспитательница выходит из
                        комнаты, и не улыбаются в ответ на ее возвращение.</p>

                    <ul>
                        <li>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье группе имел опыт
                            воспитания в фостеровской семье;</li>
                        <li>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье ребенопыт воспитания в
                            фостеровской сем;</li>
                        <li>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье;</li>
                    </ul>

                    <p>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье. Находясь в группе, дети
                        заботились о себе сами. У них не было привязанности к отдельным воспитателям. Казалось, они не
                        получают удовольствия от взаимоотношений, не расстраиваются, когда воспитательница выходит из
                        комнаты, и не улыбаются в ответ на ее возвращение.</p>

                    <h2>Заключение врачей</h2>

                    <p>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье. Находясь в группе, дети
                        заботились о себе сами. У них не было привязанности к отдельным воспитателям. Казалось, они не
                        получают удовольствия от взаимоотношений, не расстраиваются, когда воспитательница выходит из
                        комнаты, и не улыбаются в ответ на ее возвращение.</p>

                    <ol>
                        <li>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье группе имел опыт
                            воспитания в фостеровской семье;</li>
                        <li>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье ребенопыт воспитания в
                            фостеровской сем;</li>
                        <li>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье;</li>
                    </ol>

                    <p>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье. Находясь в группе, дети
                        заботились о себе сами. У них не было привязанности к отдельным воспитателям. Казалось, они не
                        получают удовольствия от взаимоотношений, не расстраиваются, когда воспитательница выходит из
                        комнаты, и не улыбаются в ответ на ее возвращение.</p>

                    <figure>
                        <img src="../../../dist/img/mother-and-babies.jpg" alt="Patient">
                        <figcaption>Описание для фото (опционально)</figcaption>
                    </figure>

                    <p>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье. Находясь в группе, дети
                        заботились о себе сами. У них не было привязанности к отдельным воспитателям. Казалось, они не
                        получают удовольствия от взаимоотношений, не расстраиваются, когда воспитательница выходит из
                        комнаты, и не улыбаются в ответ на ее возвращение.</p>

                    <figure>
                        <img src="../../../dist/img/mother-and-boy.jpg" alt="Patient">
                        <figcaption>Описание для фото (опционально)</figcaption>
                    </figure>

                    <p>Лишь один ребенок в группе имел опыт воспитания в фостеровской семье. Находясь в группе, дети
                        заботились о себе сами. У них не было привязанности к отдельным воспитателям. Казалось, они не
                        получают удовольствия от взаимоотношений, не расстраиваются, когда воспитательница выходит из
                        комнаты, и не улыбаются в ответ на ее возвращение.</p>
                </div>
                <a href="#">Пожаловаться на публикацию</a>
            </div>

            <div class="patient-profile-information">
                <ul class="patient-profile-record">
                    <li><b>Возраст:</b> <span class="patient-profile-record-age">38 лет</span></li>
                    <li><b>Пол:</b> <span class="patient-profile-record-gender">женский</span></li>
                    <li><b>Место проживания:</b> <span class="patient-profile-record-address">Торецк, Донецкая область</span></li>
                    <li><b>Категория:</b> <span class="patient-profile-record-category">онкология</span></li>
                </ul>

                <ul class="patient-profile-deadlines">
                    <li>Начало сборов: <span>24.05.2018</span></li>
                    <li>Окончание сборов: <span>25.06.2018</span</li> </ul> <div class="fundraising-progress fundraising-progress--margin-patient">
                            <div class="fundraising-progress-bar"></div>
                            <span class="fundraising-progress-current-sum">Собрали <span>20 000</span></span>
                            <span class="fundraising-progress-final-sum">из <span>30 0000</span></span>
            </div>

            <div class="social-counters social-counters--margin-patient">
                <span class="social-counters-heart">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M504.2 118.9c-8.2-23.3-22.5-44.3-41.5-60.8s-41.8-27.7-66.1-32.5c-9.1-1.8-18.5-2.7-27.9-2.7-27.4 0-54 7.7-77 22.4-13.8 8.8-26 19.9-36 32.7-10-12.8-22.2-23.8-36-32.6-23-14.6-49.6-22.4-76.9-22.4-22.8 0-45.7 5.6-66.1 16.3C56.2 49.9 38.4 65.4 25.3 84 11.9 103.2 3.7 124.6 1 147.6c-2.4 20.2-.5 41.9 5.4 64.5 11.8 44.8 38.1 85.6 58 111.9 43.3 57.3 102.8 109.4 181.9 159.1l9.5 5.9 9.5-5.9C362.6 422 430.6 357.4 473 285.7c24.4-41.2 37.1-77.9 38.9-112.2.9-19.1-1.7-37.5-7.7-54.6zM255.8 447.1c-70.7-45.5-124.1-92.8-163-144.4-18-23.8-41.6-60.4-52-99.6-4.8-18.3-6.3-35.5-4.5-51.3 2-17.2 8.1-33.1 18.1-47.3 9.9-14 23.2-25.7 38.6-33.7 15.4-8 32.6-12.3 49.8-12.3 20.6 0 40.6 5.8 57.9 16.8C217.5 86 231 101.2 239.8 119l16 32.6 15.9-32.6c8.8-17.9 22.3-33 39.1-43.8 17.3-11 37.3-16.8 57.9-16.8 7.1 0 14.2.7 21 2 18.2 3.6 35.3 12 49.7 24.5 14.3 12.4 25.1 28.2 31.3 45.7 4.5 12.7 6.4 26.6 5.6 41.1-1.4 28.4-12.6 59.8-33.9 95.9-38.2 64.5-99.3 123.2-186.6 179.5z"
                            fill="#e96b17" /></svg>
                    <span>300</span>
                </span>
                <span class="social-counters-share">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M416.5 325.4c-29.6 0-55.8 14.1-72.9 35.7l-158.4-81c2.1-7.7 3.6-15.7 3.6-24.1 0-9.2-1.8-17.8-4.2-26.2l157.7-80.7c17 22.6 43.8 37.4 74.3 37.4 51.6 0 93.3-41.7 93.3-93.3 0-51.5-41.7-93.3-93.3-93.3-51.5 0-93.3 41.8-93.3 93.3 0 8.4 1.5 16.5 3.6 24.2l-158.4 81c-17.1-21.6-43.3-35.8-73-35.8-51.5 0-93.3 41.8-93.3 93.3s41.7 93.3 93.3 93.3c30.5 0 57.3-14.8 74.4-37.4l157.7 80.7c-2.5 8.4-4.3 17.1-4.3 26.2 0 51.5 41.8 93.3 93.3 93.3 51.6 0 93.3-41.8 93.3-93.3-.1-51.6-41.8-93.3-93.4-93.3z"
                            fill="#e96b17" /></svg>
                    <span>58</span>
                </span>
            </div>
            <button class="help-btn-fundraising help-btn-fundraising--margin-patient">хочу помогать</button>

            <div class="patient-profile-complaint">
                <a href="#" class="">Пожаловаться на публикацию</a>
            </div>

            <div class="patient-profile-social-buttons">
                <p>Также Вы можете помочь,<br> сделав репост в соцсетях:</p>
                <div>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M460.8 0H51.2C23 0 0 23 0 51.2v409.6C0 489 23 512 51.2 512h409.6c28.2 0 51.2-23 51.2-51.2V51.2C512 23 489 0 460.8 0zm-25.6 51.2V128H384c-15.4 0-25.6 10.2-25.6 25.6v51.2h76.8v76.8h-76.8v179.2h-76.8V281.6h-51.2v-76.8h51.2v-64c0-48.6 41-89.6 89.6-89.6h64z"
                                fill="#e96b17" /></svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M460.8 0H51.2C23 0 0 23 0 51.2v409.6C0 489 23 512 51.2 512h409.6c28.2 0 51.2-23 51.2-51.2V51.2C512 23 489 0 460.8 0zm-58.9 186.9c-2.6 117.8-76.8 199.7-189.4 204.8-46.1 2.6-79.4-12.8-110.1-30.7 33.3 5.1 76.8-7.7 99.8-28.2-33.3-2.6-53.8-20.5-64-48.6 10.2 2.6 20.5 0 28.2 0-30.7-10.2-51.2-28.2-53.8-69.1 7.7 5.1 17.9 7.7 28.2 7.7-23-12.8-38.4-61.4-20.5-92.2 33.3 35.8 74.2 66.6 140.8 71.7-17.9-71.7 79.4-110.1 117.8-61.4 17.9-2.6 30.7-10.2 43.5-15.4-5.1 17.9-15.4 28.2-28.2 38.4 12.8-2.6 25.6-5.1 35.8-10.2-2.5 12.7-15.3 22.9-28.1 33.2z"
                                fill="#e96b17" /></svg></a>
                </div>
            </div>

            <div class="patient-profile-supporters">
                <h5>Уже помогли</h5>
                <div class="supporter-info">
                    <span class="supporter-info-name">Игорь</span>
                    <span class="supporter-info-sum">Сумма: <span>50,00 грн</span></span>
                    <span class="supporter-info-date">Дата: <span>12 грудня 2018 р.</span></span>
                </div>
                <div class="supporter-info">
                    <span class="supporter-info-name">Валентина</span>
                    <span class="supporter-info-sum">Сумма: <span>152,94 грн.</span></span>
                    <span class="supporter-info-date">Дата: <span>12 грудня 2018 р.</span></span>
                </div>
                <div class="supporter-info">
                    <span class="supporter-info-name">aninimouse</span>
                    <span class="supporter-info-sum">Сумма: <span>254,90 грн.</span></span>
                    <span class="supporter-info-date">Дата: <span>12 грудня 2018 р.</span></span>
                </div>
                <div class="supporter-info">
                    <span class="supporter-info-name">aninimouse</span>
                    <span class="supporter-info-sum">Сумма: <span>51,01 грн.</span></span>
                    <span class="supporter-info-date">Дата: <span>12 грудня 2018 р.</span></span>
                </div>
                <div class="supporter-info">
                    <span class="supporter-info-name">aninimouse</span>
                    <span class="supporter-info-sum">Сумма: <span>51,01 грн.</span></span>
                    <span class="supporter-info-date">Дата: <span>12 грудня 2018 р.</span></span>
                </div>
                <button class="patient-profile-supporters-btn"><img src="../../../dist/img/down-arrow-chevron.png" alt=""></button>
            </div>
        </div>
    </div>
    <button class="patient-profile-btn-footer">хочу помогать</button>

    </div>

    <div class="related-stories">
        <h2>похожие истории</h2>
        <div class="related-stories-cards">
            <div class="related-stories-card">
                <div class="related-stories-card-img">
                    <img src="../../../dist/img/baby-crawl.jpg" alt="">
                </div>
                <div class="related-stories-card-content">
                    <div class="social-counters social-counters--margin-card">
                        <span class="social-counters-heart">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M504.2 118.9c-8.2-23.3-22.5-44.3-41.5-60.8s-41.8-27.7-66.1-32.5c-9.1-1.8-18.5-2.7-27.9-2.7-27.4 0-54 7.7-77 22.4-13.8 8.8-26 19.9-36 32.7-10-12.8-22.2-23.8-36-32.6-23-14.6-49.6-22.4-76.9-22.4-22.8 0-45.7 5.6-66.1 16.3C56.2 49.9 38.4 65.4 25.3 84 11.9 103.2 3.7 124.6 1 147.6c-2.4 20.2-.5 41.9 5.4 64.5 11.8 44.8 38.1 85.6 58 111.9 43.3 57.3 102.8 109.4 181.9 159.1l9.5 5.9 9.5-5.9C362.6 422 430.6 357.4 473 285.7c24.4-41.2 37.1-77.9 38.9-112.2.9-19.1-1.7-37.5-7.7-54.6zM255.8 447.1c-70.7-45.5-124.1-92.8-163-144.4-18-23.8-41.6-60.4-52-99.6-4.8-18.3-6.3-35.5-4.5-51.3 2-17.2 8.1-33.1 18.1-47.3 9.9-14 23.2-25.7 38.6-33.7 15.4-8 32.6-12.3 49.8-12.3 20.6 0 40.6 5.8 57.9 16.8C217.5 86 231 101.2 239.8 119l16 32.6 15.9-32.6c8.8-17.9 22.3-33 39.1-43.8 17.3-11 37.3-16.8 57.9-16.8 7.1 0 14.2.7 21 2 18.2 3.6 35.3 12 49.7 24.5 14.3 12.4 25.1 28.2 31.3 45.7 4.5 12.7 6.4 26.6 5.6 41.1-1.4 28.4-12.6 59.8-33.9 95.9-38.2 64.5-99.3 123.2-186.6 179.5z"
                                    fill="#e96b17" /></svg>
                            <span>300</span>
                        </span>
                        <span class="social-counters-share">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M416.5 325.4c-29.6 0-55.8 14.1-72.9 35.7l-158.4-81c2.1-7.7 3.6-15.7 3.6-24.1 0-9.2-1.8-17.8-4.2-26.2l157.7-80.7c17 22.6 43.8 37.4 74.3 37.4 51.6 0 93.3-41.7 93.3-93.3 0-51.5-41.7-93.3-93.3-93.3-51.5 0-93.3 41.8-93.3 93.3 0 8.4 1.5 16.5 3.6 24.2l-158.4 81c-17.1-21.6-43.3-35.8-73-35.8-51.5 0-93.3 41.8-93.3 93.3s41.7 93.3 93.3 93.3c30.5 0 57.3-14.8 74.4-37.4l157.7 80.7c-2.5 8.4-4.3 17.1-4.3 26.2 0 51.5 41.8 93.3 93.3 93.3 51.6 0 93.3-41.8 93.3-93.3-.1-51.6-41.8-93.3-93.4-93.3z"
                                    fill="#e96b17" /></svg>
                            <span>58</span>
                        </span>
                    </div>
                    <h3>Камишанченко Оксана</h3>
                    <p>Острое нарушение мозгового кровообращения по ишемическому типу в басейне левой внутренней сонной
                        артерии</p>
                    <div class="fundraising-progress fundraising-progress--margin-card">
                        <div class="fundraising-progress-bar fundraising-progress-bar--gray"></div>
                        <span class="fundraising-progress-current-sum">Собрали <span>20 000</span></span>
                        <span class="fundraising-progress-final-sum">из <span>30 0000</span></span>
                    </div>
                </div>
            </div>
            <div class="related-stories-card">
                <div class="related-stories-card-img">
                    <img src="../../../dist/img/victoria-g.jpg" alt="">
                </div>
                <div class="related-stories-card-content">
                    <div class="social-counters social-counters--margin-card">
                        <span class="social-counters-heart">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M504.2 118.9c-8.2-23.3-22.5-44.3-41.5-60.8s-41.8-27.7-66.1-32.5c-9.1-1.8-18.5-2.7-27.9-2.7-27.4 0-54 7.7-77 22.4-13.8 8.8-26 19.9-36 32.7-10-12.8-22.2-23.8-36-32.6-23-14.6-49.6-22.4-76.9-22.4-22.8 0-45.7 5.6-66.1 16.3C56.2 49.9 38.4 65.4 25.3 84 11.9 103.2 3.7 124.6 1 147.6c-2.4 20.2-.5 41.9 5.4 64.5 11.8 44.8 38.1 85.6 58 111.9 43.3 57.3 102.8 109.4 181.9 159.1l9.5 5.9 9.5-5.9C362.6 422 430.6 357.4 473 285.7c24.4-41.2 37.1-77.9 38.9-112.2.9-19.1-1.7-37.5-7.7-54.6zM255.8 447.1c-70.7-45.5-124.1-92.8-163-144.4-18-23.8-41.6-60.4-52-99.6-4.8-18.3-6.3-35.5-4.5-51.3 2-17.2 8.1-33.1 18.1-47.3 9.9-14 23.2-25.7 38.6-33.7 15.4-8 32.6-12.3 49.8-12.3 20.6 0 40.6 5.8 57.9 16.8C217.5 86 231 101.2 239.8 119l16 32.6 15.9-32.6c8.8-17.9 22.3-33 39.1-43.8 17.3-11 37.3-16.8 57.9-16.8 7.1 0 14.2.7 21 2 18.2 3.6 35.3 12 49.7 24.5 14.3 12.4 25.1 28.2 31.3 45.7 4.5 12.7 6.4 26.6 5.6 41.1-1.4 28.4-12.6 59.8-33.9 95.9-38.2 64.5-99.3 123.2-186.6 179.5z"
                                    fill="#e96b17" /></svg>
                            <span>300</span>
                        </span>
                        <span class="social-counters-share">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M416.5 325.4c-29.6 0-55.8 14.1-72.9 35.7l-158.4-81c2.1-7.7 3.6-15.7 3.6-24.1 0-9.2-1.8-17.8-4.2-26.2l157.7-80.7c17 22.6 43.8 37.4 74.3 37.4 51.6 0 93.3-41.7 93.3-93.3 0-51.5-41.7-93.3-93.3-93.3-51.5 0-93.3 41.8-93.3 93.3 0 8.4 1.5 16.5 3.6 24.2l-158.4 81c-17.1-21.6-43.3-35.8-73-35.8-51.5 0-93.3 41.8-93.3 93.3s41.7 93.3 93.3 93.3c30.5 0 57.3-14.8 74.4-37.4l157.7 80.7c-2.5 8.4-4.3 17.1-4.3 26.2 0 51.5 41.8 93.3 93.3 93.3 51.6 0 93.3-41.8 93.3-93.3-.1-51.6-41.8-93.3-93.4-93.3z"
                                    fill="#e96b17" /></svg>
                            <span>58</span>
                        </span>
                    </div>
                    <h3>Камишанченко Оксана</h3>
                    <p>Острое нарушение мозгового кровообращения по ишемическому типу в басейне левой внутренней сонной
                        артерии</p>
                    <div class="fundraising-progress fundraising-progress--margin-card">
                        <div class="fundraising-progress-bar fundraising-progress-bar--gray"></div>
                        <span class="fundraising-progress-current-sum">Собрали <span>20 000</span></span>
                        <span class="fundraising-progress-final-sum">из <span>30 0000</span></span>
                    </div>
                </div>
            </div>
            <div class="related-stories-card">
                <div class="related-stories-card-img">
                    <img src="../../../dist/img/gus.jpg" alt="">
                </div>
                <div class="related-stories-card-content">
                    <div class="social-counters social-counters--margin-card">
                        <span class="social-counters-heart">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M504.2 118.9c-8.2-23.3-22.5-44.3-41.5-60.8s-41.8-27.7-66.1-32.5c-9.1-1.8-18.5-2.7-27.9-2.7-27.4 0-54 7.7-77 22.4-13.8 8.8-26 19.9-36 32.7-10-12.8-22.2-23.8-36-32.6-23-14.6-49.6-22.4-76.9-22.4-22.8 0-45.7 5.6-66.1 16.3C56.2 49.9 38.4 65.4 25.3 84 11.9 103.2 3.7 124.6 1 147.6c-2.4 20.2-.5 41.9 5.4 64.5 11.8 44.8 38.1 85.6 58 111.9 43.3 57.3 102.8 109.4 181.9 159.1l9.5 5.9 9.5-5.9C362.6 422 430.6 357.4 473 285.7c24.4-41.2 37.1-77.9 38.9-112.2.9-19.1-1.7-37.5-7.7-54.6zM255.8 447.1c-70.7-45.5-124.1-92.8-163-144.4-18-23.8-41.6-60.4-52-99.6-4.8-18.3-6.3-35.5-4.5-51.3 2-17.2 8.1-33.1 18.1-47.3 9.9-14 23.2-25.7 38.6-33.7 15.4-8 32.6-12.3 49.8-12.3 20.6 0 40.6 5.8 57.9 16.8C217.5 86 231 101.2 239.8 119l16 32.6 15.9-32.6c8.8-17.9 22.3-33 39.1-43.8 17.3-11 37.3-16.8 57.9-16.8 7.1 0 14.2.7 21 2 18.2 3.6 35.3 12 49.7 24.5 14.3 12.4 25.1 28.2 31.3 45.7 4.5 12.7 6.4 26.6 5.6 41.1-1.4 28.4-12.6 59.8-33.9 95.9-38.2 64.5-99.3 123.2-186.6 179.5z"
                                    fill="#e96b17" /></svg>
                            <span>300</span>
                        </span>
                        <span class="social-counters-share">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M416.5 325.4c-29.6 0-55.8 14.1-72.9 35.7l-158.4-81c2.1-7.7 3.6-15.7 3.6-24.1 0-9.2-1.8-17.8-4.2-26.2l157.7-80.7c17 22.6 43.8 37.4 74.3 37.4 51.6 0 93.3-41.7 93.3-93.3 0-51.5-41.7-93.3-93.3-93.3-51.5 0-93.3 41.8-93.3 93.3 0 8.4 1.5 16.5 3.6 24.2l-158.4 81c-17.1-21.6-43.3-35.8-73-35.8-51.5 0-93.3 41.8-93.3 93.3s41.7 93.3 93.3 93.3c30.5 0 57.3-14.8 74.4-37.4l157.7 80.7c-2.5 8.4-4.3 17.1-4.3 26.2 0 51.5 41.8 93.3 93.3 93.3 51.6 0 93.3-41.8 93.3-93.3-.1-51.6-41.8-93.3-93.4-93.3z"
                                    fill="#e96b17" /></svg>
                            <span>58</span>
                        </span>
                    </div>
                    <h3>Камишанченко Оксана</h3>
                    <p>Острое нарушение мозгового кровообращения по ишемическому типу в басейне левой внутренней сонной
                        артерии</p>
                    <div class="fundraising-progress fundraising-progress--margin-card">
                        <div class="fundraising-progress-bar fundraising-progress-bar--gray"></div>
                        <span class="fundraising-progress-current-sum">Собрали <span>20 000</span></span>
                        <span class="fundraising-progress-final-sum">из <span>30 0000</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="subscribe-news">
        <div class="subscribe-news-content">
            <h2>Следите за новостями <span>LIFES</span>PULSE</h2>
            <form action="#">
                <input type="text" placeholder="Введите Ваш e-mail" name="email" type="email" required>
                <input type="submit" value="подписаться">
            </form>
        </div>
    </div>

    <footer class="main-footer">
        <div class="main-footer-wrapper">
            <div>
                <div class="contact-link">

                    <a href="tel:+38(080)1234567">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <path d="M483.8,28.2C465.1,9.4,442.4,0,416,0H96C69.6,0,46.9,9.4,28.2,28.2C9.4,46.9,0,69.6,0,96v320
                        c0,26.4,9.4,49.1,28.2,67.8C46.9,502.6,69.6,512,96,512h320c26.4,0,49.1-9.4,67.8-28.2c18.8-18.8,28.2-41.4,28.2-67.8V96
                        C512,69.6,502.6,46.9,483.8,28.2z M419.3,388.6c-4.7,10.2-15.2,19.1-31.5,26.7c-16.3,7.6-30.8,11.3-43.5,11.3
                        c-3.6,0-7.3-0.3-11.3-0.8c-4-0.6-7.4-1.1-10.2-1.7c-2.8-0.6-6.4-1.6-11-3c-4.6-1.4-7.8-2.6-9.8-3.3c-2-0.8-5.7-2.2-11-4.2
                        c-5.3-2-8.7-3.2-10-3.7c-36.4-13.3-72.1-37.4-106.8-72.2C139.4,303,115.3,267.4,102,231c-0.4-1.3-1.7-4.7-3.7-10
                        c-2-5.3-3.4-9-4.2-11c-0.8-2-1.9-5.3-3.3-9.8c-1.4-4.6-2.4-8.2-3-11c-0.6-2.8-1.1-6.2-1.7-10.2c-0.6-4-0.8-7.8-0.8-11.3
                        c0-12.7,3.8-27.2,11.3-43.5c7.6-16.3,16.4-26.8,26.7-31.5c11.8-4.9,23-7.3,33.7-7.3c2.4,0,4.2,0.2,5.3,0.7c1.1,0.4,2.9,2.4,5.5,6
                        c2.6,3.6,5.3,8.1,8.3,13.5c3,5.4,5.9,10.7,8.8,15.8c2.9,5.1,5.7,10.2,8.3,15.2c2.7,5,4.3,8.2,5,9.5c0.7,1.1,2.1,3.2,4.3,6.3
                        c2.2,3.1,3.9,5.9,5,8.3c1.1,2.4,1.7,4.8,1.7,7c0,3.3-2.3,7.4-6.8,12.2c-4.6,4.8-9.6,9.2-15,13.2c-5.4,4-10.4,8.3-15,12.8
                        c-4.6,4.6-6.8,8.3-6.8,11.2c0,1.6,0.4,3.4,1.2,5.5c0.8,2.1,1.5,3.8,2.2,5.2c0.7,1.3,1.7,3.2,3.2,5.7c1.4,2.4,2.4,4,2.8,4.7
                        c12.2,22,26.3,40.9,42.2,56.8c15.9,15.9,34.8,29.9,56.8,42.2c0.7,0.4,2.2,1.4,4.7,2.8c2.4,1.4,4.3,2.5,5.7,3.2
                        c1.3,0.7,3.1,1.4,5.2,2.2c2.1,0.8,3.9,1.2,5.5,1.2c3.5,0,8.4-3.7,14.7-11c6.2-7.3,12.6-14.6,19-21.8c6.4-7.2,11.7-10.8,15.7-10.8
                        c2.2,0,4.5,0.6,7,1.7c2.4,1.1,5.2,2.8,8.3,5c3.1,2.2,5.2,3.7,6.3,4.3l17.7,9.7c11.8,6.2,21.6,11.7,29.5,16.5
                        c7.9,4.8,12.2,8.1,12.8,9.8c0.4,1.1,0.7,2.9,0.7,5.3C426.7,365.7,424.2,376.9,419.3,388.6z" />
                            </g>
                        </svg>

                        <span>+38(080)1234567</span>
                    </a>

                    <a href="mailto:support@info.com">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <path d="M451.2,61.6H60.8C27.3,61.6,0,87.7,0,119.9v272.2c0,32.2,27.3,58.4,60.8,58.4h390.5
		c33.5,0,60.8-26.2,60.8-58.4V119.9C512,87.7,484.7,61.6,451.2,61.6z M451.2,398.9H60.8c-4.9,0-9.2-3.2-9.2-6.8V155.9L228.1,305
		c3.6,3.1,8.2,4.7,13,4.7l29.8,0c4.7,0,9.3-1.7,13-4.7l176.6-149.1v236.2C460.5,395.7,456.2,398.9,451.2,398.9z M256,258.6
		L84.2,113.1h343.5L256,258.6z" />
                            </g>
                        </svg>
                        <span>support@info.com</span>
                    </a>

                    <a href="/">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <path d="M256,0C153.8,0,70.6,83.2,70.6,185.4c0,126.9,165.9,313.2,173,321c6.6,7.4,18.2,7.4,24.8,0
				c7.1-7.9,173-194.1,173-321C441.4,83.2,358.2,0,256,0z M256,278.7c-51.4,0-93.3-41.9-93.3-93.3s41.9-93.3,93.3-93.3
				s93.3,41.9,93.3,93.3S307.4,278.7,256,278.7z" />
                            </g>
                        </svg>
                        <span>
                            Одесса, Украина
                        </span>
                    </a>
                </div>

                <div class="nav-block">
                    <div>
                        <a href="/">
                            О нас
                        </a>
                        <a href="/">
                            FAQ
                        </a>
                        <a href="/">
                            Документы
                        </a>
                        <a href="/">
                            Контакты
                        </a>
                    </div>

                    <div>
                        <a href="/">
                            Начать помогать
                        </a>
                        <a href="/">
                            Подать заявку
                        </a>
                        <a href="/">
                            Успешные сборы
                        </a>
                        <a href="/">
                            Блог
                        </a>
                    </div>
                </div>
            </div>


            <div class="social-network">
                <h5>Мы в социальных сетях</h5>
                <ul>
                    <li>
                        <a href="/">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                xml:space="preserve">
                                <g>
                                    <path d="M460.8,0H51.2C23,0,0,23,0,51.2v409.6C0,489,23,512,51.2,512h409.6c28.2,0,51.2-23,51.2-51.2V51.2
				C512,23,489,0,460.8,0z M435.2,51.2V128H384c-15.4,0-25.6,10.2-25.6,25.6v51.2h76.8v76.8h-76.8v179.2h-76.8V281.6h-51.2v-76.8
				h51.2v-64c0-48.6,41-89.6,89.6-89.6H435.2z" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                xml:space="preserve">
                                <g>
                                    <path d="M235.5,176.6c0-25.6-15.4-76.8-53.8-76.8c-15.4,0-33.3,10.2-33.3,43.5c0,30.7,15.4,74.2,51.2,74.2
				C199.7,217.6,235.5,215,235.5,176.6z M220.2,302.1c-2.6,0-5.1,0-7.7,0l0,0c-7.7,0-30.7,2.6-46.1,7.7
				c-17.9,5.1-38.4,17.9-38.4,43.5c0,28.2,25.6,56.3,76.8,56.3c38.4,0,61.4-25.6,61.4-51.2C266.2,340.5,253.4,327.7,220.2,302.1z
				 M460.8,0H51.2C23,0,0,23,0,51.2v409.6C0,489,23,512,51.2,512h409.6c28.2,0,51.2-23,51.2-51.2V51.2C512,23,489,0,460.8,0z
				 M181.8,440.3c-71.7,0-105-41-105-76.8c0-12.8,2.6-41,38.4-61.4c20.5-12.8,46.1-20.5,79.4-23c-5.1-5.1-7.7-12.8-7.7-25.6
				c0-5.1,0-7.7,2.6-12.8h-10.2c-51.2,0-81.9-38.4-81.9-76.8c0-43.5,33.3-92.2,105-92.2h107.5l-7.7,7.7l-17.9,17.9l-2.6,2.6h-17.9
				c10.2,10.2,23,28.2,23,56.3c0,35.8-17.9,53.8-41,69.1c-5.1,2.6-10.2,10.2-10.2,17.9s5.1,12.8,10.2,15.4c2.6,2.6,7.7,5.1,12.8,7.7
				c20.5,15.4,48.6,33.3,48.6,74.2C307.2,386.6,273.9,440.3,181.8,440.3z M435.2,256H384v51.2h-25.6V256h-51.2v-25.6h51.2v-51.2H384
				v51.2h51.2V256z" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                xml:space="preserve">
                                <g>
                                    <path d="M460.8,0H51.2C23,0,0,23,0,51.2v409.6C0,489,23,512,51.2,512h409.6c28.2,0,51.2-23,51.2-51.2V51.2
				C512,23,489,0,460.8,0z M401.9,186.9c-2.6,117.8-76.8,199.7-189.4,204.8c-46.1,2.6-79.4-12.8-110.1-30.7
				c33.3,5.1,76.8-7.7,99.8-28.2c-33.3-2.6-53.8-20.5-64-48.6c10.2,2.6,20.5,0,28.2,0c-30.7-10.2-51.2-28.2-53.8-69.1
				c7.7,5.1,17.9,7.7,28.2,7.7c-23-12.8-38.4-61.4-20.5-92.2c33.3,35.8,74.2,66.6,140.8,71.7c-17.9-71.7,79.4-110.1,117.8-61.4
				c17.9-2.6,30.7-10.2,43.5-15.4c-5.1,17.9-15.4,28.2-28.2,38.4c12.8-2.6,25.6-5.1,35.8-10.2C427.5,166.4,414.7,176.6,401.9,186.9z
				" />
                                </g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-footer-wrapper">
            <h6>© LIFESPULSE. Все права сохранены</h6>
        </div>
    </footer>

    <script src="../../../dist/js/index.js"></script>
</body>

</html>